.practiceLayout {
  background: #fff;
}

.sider {
  background: #fff;
}

.content {
  padding: 24px;
  margin: 0;
  min-height: 280px;
}

.contentInner {
  padding: 24px;
  background: #fff;
  min-height: 280px;
}